.App {
  text-align: center;
  background-color: #282c34;
  background-image: url("./Assets/Images/bgImage.jpg");
  min-height: 100vh;
}

img {
  max-height: 40vh;
  max-width: 40vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
